:root {
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --dark: #2E2F42;
    --success: #31D0AA;
    --text: #434455;
    --subtle-text: #8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
    --modal-overlay: #ABACB3;
    --hero-background: #6D6D7B;
    --white-background: #FFFFFF;
    --modal-background: #FCFCFC;
    --primaty-font: 'Roboto', sans-serif;
}

body {
    font-family: var(--primaty-font);
    background-color: var(--white-background);
    color: var(--text);
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

button {
    cursor: pointer;
}

/**-------------- HEADER------------------ */

.header {

}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand);
}

.header-logo-last {
    color: var(--dark);
}

.header-list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark);
}

.header-list-item:hover,
.header-list-item:focus {
    color: var(--pressed-state);
}

.header-address {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
}

.header-address:hover,
.header-address:focus {
    color: var(--pressed-state);
}

/**-------------- HERO------------------ */

.hero {
    background: var(--dark);
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-background);
}

.hero-bottom-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    background: var(--primary-brand);
    color: var(--white-background);
    letter-spacing: 0.04em;
}

.hero-bottom-text:hover,
.hero-bottom-text:focus {
    background: var(--pressed-state);
}

/**-------------- Feature--------------- */

.feature-list-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--dark);
}

.feature-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
}

/**-------------- IMG------------------ */

.img-head {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
}

/**-------------- Team------------------ */

.team {
    background: var(--light);
}

.team-head {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
}

.team-list {
    background-color: var(--white-background);
}

.team-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--dark);
}

.team-p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text);
}

/**-------------- Footer------------------ */

.footer {
    background-color: var(--dark);
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand);
}

.footer-logo-last {
    color: var(--light);
}

.footer-title {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light);
}

/**============== Portfolio ============= */

/**------------- Filter btn------------- */

.filter-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    background-color: var(--light);
    color: var(--primary-brand);
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--pressed-state);
    color: var(--white-background);
}

/**------------- Project card------------- */

.card-list {
    text-decoration: none
}

.card-list-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
}

.card-list-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
}